[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "svenssonm"]
	path = svenssonm
	url = https://github.com/lexizhu/svenssonm
	shallow = true
	registered = true
